<h2>Olá {{deliverymanName}}.</h2>
<p>Temos uma nova encomenda na sua fila e ja esta disponivel para entrega!</p>

<p>Segue os dados da encomenda:</p>

<div
    style="display: flex; flex-direction: column; align-items: center; border: 1px solid #7C40E7; border-radius: 10px; color: #7c40e7;">
    <p>Destinatario: {{recipientName}}</p>
    <p>{{address}}, numero: {{number}}</p>
    <p>Cidade: {{city}}, Estado: {{state}}</p>
    <p>Cep: {{cep}}</p>
    <p>Produto:</p>
    <p>{{product}}</p>
</div>
